.container
    max-width: 1440px
    width: 100%
    padding: 0 2%
    margin: 0 auto
@media ( max-width: 1440px) 
    .banner .container     
        padding: 0
.main
    position: relative
    margin-top: 259px
    &.isShown
        margin-top: 60px
    @media ( max-width: $md )        
        margin-top: 0
.section
    margin-top: 150px
    @media ( max-width: $md )        
        margin-top: 100px
    @media ( max-width: $sm )        
        margin-top: 70px    


        