.container
    max-width: 1440px
    padding: 0 2%
    margin: 0 auto
@media ( max-width: 1440px) 
    .banner .container     
        padding: 0
.main
    margin-top: -20px
    @media ( max-width: $md )        
        margin-top: 65px
    @media ( max-width: 330px )
        margin-top: 55px

        