*
    box-sizing: border-box
    outline: none
    text-decoration: none
    &::after
        @extend *
    &::before
        @extend *
html
    font-size: 10px  
    @media ( max-width:  $lg)
        font-size: 8px
ul
    margin: 0
    padding: 0
li
    padding: 0
    margin: 0  
h2
    padding: 0
    margin: 0  
.button
    padding: 1rem 5rem
    background: linear-gradient(90deg, #BE0202 0%, #FF0000 100%)
    border-radius: 23px
    +regular(15,12, #ffffff, normal)
    display: inline-block
    text-align: center
    cursor: pointer
    &:hover
        background: #BE0202
        box-shadow: inset 0px 0px 5px #BE0202
    @media (max-width: $md)
        padding: 1rem 3rem
    &-mobile
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 30px
        @media (min-width: $md+1px)
            display: none
        span
            display: block              
            background: #ffffff
            width: 30px
            height: 3px
            transition: 0.2s
        &.close
            span
                transform: rotate(0deg)  translate(0,0)            
                transition: 0.2s
                &:nth-child(1)                
                    display: block
                    transform: rotate(45deg)  translate(7px)
                    transform-origin: left 
                    width: 35px
                &:nth-child(2)
                    display: block
                    transform-origin: left
                    transform: translateX(-50px) scale(0)
                &:nth-child(3)
                    display: block
                    transform: rotate(-45deg)  translate(2px,5px)
                    transform-origin: left
                    width: 35px
.title
    +title(40,18,$dark)
    text-transform: uppercase
    text-align: center
.delete
    display: none !important
.lock
    overflow: hidden !important
