.request
  &-block
    background-image: url('../img/footer-request.png')
    background-repeat: no-repeat
    background-position: left 70px
    background-size: contain
    display: flex
    justify-content: flex-end
    @media ( max-width: $lg )
      background-size: 50%
      background-position: left 250px
    @media ( max-width: $md )
      background: none
      justify-content: center
  &-left
    position: relative
    z-index: 3
  &__title
    +regular(18,12,$dark,500) 
    text-transform: uppercase
    &::after
      content: ''
      display: block
      width: 100%
      height: 2px
      background: linear-gradient(to right,$company-color 20%,#324261 20%)
      margin-top: 20px
  &__subtitle
    +regular(14,10,#686868,normal) 
    line-height: 30px
    width: 50%
    margin-top: 20px
    margin-bottom: 70px 
    @media ( max-width: $md )
      width: 100%
      margin-bottom: 30px
  &-contacts
    display: flex
    justify-content: space-between
    margin-bottom: 50px
    position: relative
    @media ( max-width: $md )
      display: block
    &__phone
      flex: 0 0 45%
      width: 100%
      border: 1px solid rgba(0,0,0,0.25)
      +regular(14,10,rgba(44,44,44,0.4),500)
      padding: 15px
      @media ( max-width: $md )
        margin-top: 50px
  &-input
    flex: 0 0 45%
    position: relative
    +regular(14,10,rgba(44,44,44,0.5),500)
    overflow: hidden
    &__placeholder
      position: absolute
      top: 15px
      left: 15px
      transition: 0.5s
      z-index: -1
  &__input
    border: 1px solid rgba(0,0,0,0.25)
    width: 100%
    padding: 15px
    +regular(14,10,rgba(44,44,44,0.5),500)
    background-color: transparent
    &:focus + .request-input__placeholder
      top: -50px
    &:valid + .request-input__placeholder
      top: -50px 
  &-textarea
    position: relative
    +regular(14,10,rgba(44,44,44,0.5),500)
    overflow: hidden
    &__input
      width: 100%
      border: 1px solid rgba(0,0,0,0.25)
      resize: none
      height: 200px
      background-color: transparent
      +regular(14,10,rgba(44,44,44,0.5),500)
      padding: 10px
      &:focus + .request-textarea__placeholder
        top: -50px
      &:valid + .request-textarea__placeholder
        top: -50px 
    &__placeholder
      position: absolute
      z-index: -1
      top: 15px
      left: 15px
      transition: 0.5s
  &-necessarily
    display: block
    +regular(10,8,#000000,500)
    margin: 20px 0
  &-button
    padding-bottom: 90px
    @media ( max-width: $md )
      padding-bottom: 30px
    &__submit
      @extend .button
    &__reset
      @extend .button
      background: linear-gradient(90deg, #324261 0%, #07090E 100%)
      border: none
      margin-left: 28px
      &:hover
        background: linear-gradient(90deg, #10203f 0%, #07090E 100%)
  &-callback
    width: 100%
    background-color: #cecece
    padding: 20px
    text-align: center
    @media ( max-width: $md )
      display: none
    &__big
      +regular(18,10,#000000,500)
      margin-right: 20px
    &__small
      +regular(12,7,#000000,500)
  &-hide
    display: none
    @media ( max-width: $md )
      width: 100%
    &__name
      +regular(24,18,#2c2c2c,500)
      display: block
      margin: 20px 0
    &__phone
      @extend .request-hide__name
    &-footer
      margin-top: 400px
      @media ( max-width: $md )
        margin-top: 50px
      &__thanks
        +regular(18,12,#000000,bold)
        @media ( max-width: $md )
          display: block
          margin-bottom: 30px
      &__company
        +regular(24,14,#ffffff,bold)
        padding: 15px 20px
        background: $company-color
        border-radius: 30px 0px 0px 0px
        @media ( max-width: $md )
          border-radius: 30px






