.special
  background: #F4F4F4
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.25)
  padding: 15px 0 
  &-wrapper
    display: flex
    justify-content: space-between
    @media ( max-width: $md )
      display: none
  &-first
    display: flex
    flex: 0 0 45%
    justify-content: flex-end
    border: 10px solid #ECECEC
    background-image: url('../img/special-1.png')
    background-repeat: no-repeat
    background-size: cover
    &-right
      margin: 75px 20px 30px 0
      text-align: center
      &__title
        +regular(18,12,#000000,500)
      &__button
        @extend .button
        background: #ffffff
        color: #000000  
        box-shadow: inset 0 0 2px rgba(0,0,0,0.7)        
        margin-top: 20px
  &-second
    flex: 0 0 45%
    background-image: url('../img/special-2.png')
    background-repeat: no-repeat
    background-size: cover
    display: flex
    justify-content: flex-end
    align-items: center
    border: 10px solid #ECECEC
    &-right
      margin: 75px 20px 30px 0
      text-align: center
      &__title
        @extend .special-first-right__title
      &__button
        @extend .special-first-right__button
  &-mobile
    display: none
    justify-content: space-between
    text-align: center
    @media ( max-width: $md )
      display: flex
    &-item
      flex: 0 0 49% 
      img
        width: 250px
        @media ( max-width: $sm )
          width: 100%
      &__title
        +regular(14,14,#000000,500)
        margin: 15px 0
      &__button
        @extend .button